.cart-wrapper {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #e6e6e6, $alpha: 0.6);
  transition: opacity 0.2s ease-in-out;
  .cart {
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    width: 25%;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    .cart-header {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #ccc;
    }
    .cart-list {
      height: 400px;
      overflow: auto;
      scroll-behavior: smooth;
      .no-cart__product {
        text-align: center;
        padding-top: 40px;
      }
    }
    .cart-item {
      display: flex;
      padding: 15px;
      font-size: 14px;
      border-bottom: 1px solid #ccc;
      .cart-item__image {
        width: 128px;
        height: 160px;
        img {
          width: 100%;
        }
      }
      .cart-item__info {
        margin-left: 15px;
        flex: 1;
      }
      .cart-item__name {
        display: flex;
        justify-content: space-between;
      }
      .cart-item-price {
        font-size: 16px;
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
        .discounted-price {
          color: rgb(197 12 12);
        }
        .current-price {
          text-decoration: line-through;
        }
      }
    }
    .cart-item__more {
      display: flex;
      gap: 20px;
      margin: 4px 0;
      .quantity-cart {
        display: flex;
        gap: 10px;
        .quantity__btn {
          cursor: pointer;
        }
      }
    }
    .cart-item__heading {
      width: 60px;
    }
  }
  .cart-footer {
    padding: 15px;
    border-top: 1px solid #ccc;
    .cart-total {
      display: flex;
      justify-content: space-between;
    }
    .btn-cart {
      width: 100%;
    }
  }
}
.show-cart__wrapper {
  pointer-events: all;
  opacity: 1;
}
.hide-cart__wrapper {
  pointer-events: none;
  opacity: 0;
}

.show-cart {
  transform: translateX(0);
}
.hide-cart {
  transform: translateX(200px);
}
