@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
:root {
  //Default Layout
  --default-layout-width: 1620px;
  --primary-color: rgba(254, 44, 85, 1);
  --black: #000;
  --white: #fff;
  --text-color: #333;
  --font-family: 'IBM Plex Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  height: 2000px;
}

a[href] {
  text-decoration: none;
  color: inherit;
}
