@import '/src/components/GlobalStyles/Responsive.scss';

.wrapper {
  .title {
    margin: 50px 0;
    width: 50%;
    @include tablet {
      margin: 30px 0;
      width: 70%;
    }
    @include mobile {
      margin: 10px 20px 30px 20px;
      width: 90%;
    }
    .heading {
      font-size: 3.4rem;
      @include mobile {
        font-size: 2.8rem;
      }
    }
    .desc {
      margin-top: 10px;
      font-size: 1.6rem;
      line-height: 2rem;
      color: var(--second-text-color);
    }
  }
  .content {
    display: flex;
    @include tablet {
      gap: 25px;
    }
    @include mobile {
      flex-direction: column;
    }
    .category {
      flex-basis: 25%;
      @include mobile {
        margin-left: 20px;
      }
      .option {
        .option-heading {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 1.6rem;
        }
        .option-select {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          .input-option {
            margin-right: 10px;
            width: 16px;
            height: 16px;
          }
          .input-option:checked {
            accent-color: black;
          }
        }
      }
    }
    .products {
      display: flex;
      gap: 40px 80px;
      flex-wrap: wrap;
      flex-basis: 75%;
      @include mobile {
        margin-top: 30px;
        justify-content: center;
      }
    }
  }
}
