@import '/src/components/GlobalStyles/Responsive.scss';

.wrapper {
  transition: 0.3s ease-in-out;
  z-index: 999;
  position: fixed;
  background: var(--white);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  .search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100px;
    width: 100%;
    .back-icon {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .search-input {
      font-size: 1.6rem;
      border: none;
      border-bottom: 1px solid #ccc;
      height: 40px;
      width: 60%;
      outline: none;
      padding: 0 10px;
    }
  }
  .search-title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .search-result {
    height: 400px;
    overflow: auto;
    margin: 0 50px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include tablet {
      height: 800px;
    }
    @include mobile {
      justify-content: center;
      height: 650px;
    }
  }
}

.open-modal {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

.close-modal {
  transform: translateY(-1500px);
  opacity: 0;
  pointer-events: none;
}
