@import '/src/components/GlobalStyles/Responsive.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 100px 50px 0 50px;
  @include tablet {
    padding: 100px 25px 0 25px;
  }
  @include mobile {
    padding: 100px 10px 0 10px;
  }
}
